## EDA for heart-failure-prediction
Dataset Credit: https://www.kaggle.com/fedesoriano/heart-failure-prediction 
  
Oishik Mukhopadhyay, 31 October, 2021

In [55]:
import opendatasets as od

In [56]:
od.download('https://www.kaggle.com/fedesoriano/heart-failure-prediction')

Skipping, found downloaded files in "./heart-failure-prediction" (use force=True to force download)

In [87]:
import pandas as pd
import numpy as np

In [58]:
dataset = pd.read_csv('heart-failure-prediction/heart.csv')

In [59]:
dataset.head()
# HeartDisease key- 1: Disease, 0: Normal

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [60]:
dataset['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [61]:
dataset['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [62]:
dataset['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [63]:
dataset.replace({'Sex': {'M':0, 'F':1}, 
                 'ChestPainType': {'ATA':0, 'NAP':1, 'ASY':2, 'TA':3}, 
                 'RestingECG': {'Normal':0, 'ST':1, 'LVH':2}, 
                 'ExerciseAngina': {'N':0, 'Y':1},
                 'ST_Slope': {'Up':0, 'Flat':1, 'Down':1}
                }, inplace=True)

In [64]:
dataset.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,0,140,289,0,0,172,0,0.0,0,0
1,49,1,1,160,180,0,0,156,0,1.0,1,1
2,37,0,0,130,283,0,1,98,0,0.0,0,0
3,48,1,2,138,214,0,0,108,1,1.5,1,1
4,54,0,1,150,195,0,0,122,0,0.0,0,0

In [78]:
nparr = dataset.to_numpy()

In [83]:
print(nparr[:10])

[[ 40.    0.    0.  140.  289.    0.    0.  172.    0.    0.    0.    0. ]
 [ 49.    1.    1.  160.  180.    0.    0.  156.    0.    1.    1.    1. ]
 [ 37.    0.    0.  130.  283.    0.    1.   98.    0.    0.    0.    0. ]
 [ 48.    1.    2.  138.  214.    0.    0.  108.    1.    1.5   1.    1. ]
 [ 54.    0.    1.  150.  195.    0.    0.  122.    0.    0.    0.    0. ]
 [ 39.    0.    1.  120.  339.    0.    0.  170.    0.    0.    0.    0. ]
 [ 45.    1.    0.  130.  237.    0.    0.  170.    0.    0.    0.    0. ]
 [ 54.    0.    0.  110.  208.    0.    0.  142.    0.    0.    0.    0. ]
 [ 37.    0.    2.  140.  207.    0.    0.  130.    1.    1.5   1.    1. ]
 [ 48.    1.    0.  120.  284.    0.    0.  120.    0.    0.    0.    0. ]]

In [85]:
nparr[:,0]/=max(nparr[:,0]) # Age
nparr[:,3]/=max(nparr[:,3]) # RestingBP
nparr[:,4]/=max(nparr[:,4]) # Cholesterol
nparr[:,7]/=max(nparr[:,7]) # MaxHR
nparr[:,9]/=max(nparr[:,9]) # OldPeak

In [86]:
print(nparr[:10])

[[0.51948052 0.         0.         0.7        0.47927032 0.
  0.         0.85148515 0.         0.         0.         0.        ]
 [0.63636364 1.         1.         0.8        0.29850746 0.
  0.         0.77227723 0.         0.16129032 1.         1.        ]
 [0.48051948 0.         0.         0.65       0.46932007 0.
  1.         0.48514851 0.         0.         0.         0.        ]
 [0.62337662 1.         2.         0.69       0.35489221 0.
  0.         0.53465347 1.         0.24193548 1.         1.        ]
 [0.7012987  0.         1.         0.75       0.32338308 0.
  0.         0.6039604  0.         0.         0.         0.        ]
 [0.50649351 0.         1.         0.6        0.56218905 0.
  0.         0.84158416 0.         0.         0.         0.        ]
 [0.58441558 1.         0.         0.65       0.39303483 0.
  0.         0.84158416 0.         0.         0.         0.        ]
 [0.7012987  0.         0.         0.55       0.34494196 0.
  0.         0.7029703  0.         0.         0.         0.        ]
 [0.48051948 0.         2.         0.7        0.34328358 0.
  0.         0.64356436 1.         0.24193548 1.         1.        ]
 [0.62337662 1.         0.         0.6        0.47097844 0.
  0.         0.59405941 0.         0.         0.         0.        ]]

In [91]:
np.save('heart-failure-prediction/etl_heart.npy', nparr, allow_pickle=True)